@import "../../src/styles/_variables.css";
:host,
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 1000;
  background-color: var(--white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-wrapper {
  display: flex;
  height: calc(100vh - 64px);
  padding-top: 64px;
}

app-sidebar {
  width: 200px;
  background-color: var(--white);
  border-right: 1px solid #ddd;
  padding: 16px;
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%;
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 999;
}

main.main {
  margin-left: 200px;
  flex: 1;
  padding: 24px;
  background-color: #f5f7f9;
  overflow-y: auto;
  min-height: calc(100vh - 64px);
  box-sizing: border-box;
}
